<h1>Welcome</h1>
<p>Please choose your type payment or look at the customer details.</p>

<p><%= link_to 'One Time Payment', static_onetime_path, :method => :get %></p>
<p><%= link_to 'Recurring Payment', static_recurring_path, :method => :get %></p>
<p><%= link_to 'Subscription', static_subscription_path, :method => :get %></p>
